extends layout

block content
	div#info
		img(id="emotion" src="#")
		p#sentiment_score= value
		br
		button #{number_of_tweets} Tweets Recorded
		br
		br
		a(href="/graph")
			button Ayo! Generate Graph
		br
		br
		a(href="/tweets")
			button See Tweets & Sentiments
	script(src="javascripts/script.js")
