doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    meta(name="viewport" content="width=device-width")
    meta(http-equiv="refresh" content="300")
  body
    block content
    script(src="https://code.jquery.com/jquery-3.3.1.js")
    script(src="javascripts/script.js")
