/* Donald Trump SA - Client-Side Stylesheet */

body {
	background-color: #FFFFFF;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	outline: none;
}

div.wrapper {
	width: 100%;
	max-width: 90%;
	margin: 0 auto !important;
}

div#info {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
}

div#info img {
	width: 250px;
	height: 250px;
	margin-top: calc((100vh / 2) - 200px);
}

div#info p {
	font-weight: bold;
}

div#info button {
	background-color: rgba(255, 255, 255, 0.5);
	border: none;
	border-radius: 4px;
	padding: 8px 20px;
}

div#info button:focus {
	outline:0;
}

div#info a button:hover {
	cursor: pointer;
}

div#info a button {
	background-color: #FFFFFF;
	width: 200px;
}

div#info.tweet div {
	height: 250px;
	padding: 0;
	margin: 0;
}

div#info.tweet div h1 {
	padding: 75px 0 0 0;
	margin: 0;
}