/* Donald Trump SA - Client-Side Stylesheet */

body {
	background-color: #FFFFFF;
	color: #FFFFFF;
	padding: 0;
	margin: 0;
	outline: none;
}

div#info {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	text-align: center;
}

div#info img {
	width: 200px;
	height: 200px;
	margin-top: calc((100vh / 2) - 200px);
}

div#info p {
	font-weight: bold;
}

div#info button {
	background-color: #FFFFFF;
	border: none;
	padding: 8px 20px;
}

div#info button:focus {
	outline:0;
}

div#info a button:hover {
	cursor: pointer;
}
